.carousel-text{
    position: absolute;
    top: 170px;
}
.carousel-text h1{
    font-family: 'Poppins', sans-serif;
    
}
.card-border{
    border: 1px solid rgba(156, 152, 152, 0.315);
    border-radius: 5px;
}
.container-width{
    max-width: 800px;
    margin: 0 auto;
}