.carousel-text{
    position: absolute;
    top: 170px;
}
.carousel-text h1{
    font-family: 'Poppins', sans-serif;
    
}
.card-border{
    border: 1px solid rgba(156, 152, 152, 0.315);
    border-radius: 5px;
}
.container-width{
    max-width: 800px;
    margin: 0 auto;
}
.accordion-border{
    border: 1px solid rgba(156, 150, 150, 0.568);
    border-radius: 5px;
}

.companies img{
    width: 150px;
    padding: 10px;
    margin-right: 20px;
}
.icons i{
    font-size: 18px;
    padding: 10px;
    margin-right: 10px;
    background-color: rgba(117, 121, 126, 0.425);
    border-radius: 50%;
}